<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erp_android_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
test shiris changes 
test conflit scenario dfsgsdfgsdfgdsfgdsf
asdfadsfadsfasdfhagsdfjbadsjknflkoj32q3w42q sdgffdsg
satsrgfgffffffffffffgghh
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
